<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rails.rsems.mapper.UserMapper">

	<select id="findUserInfo" resultType="cn.rails.rsems.model.User">
		select *  from t_user  WHERE  pwd = ${pwd}
	</select>
	<!--<select id="selectMyPage" resultType="User">-->
		<!--select *  from t_user t WHERE  t.pwd=${pwd} ${ew.sqlSegment};-->
	<!--</select>-->

</mapper>